<div class="session">

  <div *ngIf="testSessionService.alertType === 'correct'"
    class="alert alert-success" role="alert">
    <button type="button" class="close"
      data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    Correct answer !
  </div>
  <div *ngIf="testSessionService.alertType === 'wrong'"
    class="alert alert-danger" role="alert">
    <button type="button" class="close"
      data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    Wrong answer !
  </div>
  <div *ngIf="testSessionService.alertType === 'end'"
    class="alert alert-info" role="alert">
    <button type="button" class="close"
      data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    Session ended, thank you
  </div>

  <div *ngIf="!isStarted()">
      <button (click)="startSession()" class="start-button-centered">START</button>
  </div>
  <div *ngIf="isStarted() && !isWaitingNext()">
      <button (click)="stopSession()" class="stop-button-cornered-in-session">STOP</button>
      <app-action *ngIf="!isWaitingNext()" [action]="testSessionService.currentAction"></app-action>
  </div>
  <div *ngIf="isStarted() && isWaitingNext()">
      <button (click)="stopSession()" class="stop-button-cornered">STOP</button>
      <button (click)="startNext()" class="next-button-centered">NEXT</button>
  </div>
</div>

