<div class="session">
	<div *ngIf="!isStarted()">
	  <button (click)="startSession()" class="start-button-centered">START</button>
	</div>
	<div *ngIf="isStarted() && !isWaitingNext()">
	  <button (click)="stopSession()" class="stop-button-cornered-in-session">STOP</button>
	  <app-action *ngIf="!isWaitingNext()" [action]="testSessionService.currentAction"></app-action>
	</div>
	<div *ngIf="isStarted() && isWaitingNext()">
		<button (click)="stopSession()" class="stop-button-cornered">STOP</button>
		<button (click)="startNext()" class="next-button-centered">NEXT</button>
	</div>
</div>

