.session {
	height: 100%;
	background-color: #EDE7F6;
}

.content {
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

.start-button-centered {
	width: 200px;
	height: 200px;
  margin: auto;
  transform: translate(0, -35px);
  border-radius: 50%;
	border:5px solid #ffff8b;
  overflow:hidden;
  background: #ffee58;
  box-shadow: 0 0 3px gray;
  outline: 0;
  font-size: 45px;
  font-family: "Courier New", Courier, monospace
}

.next-button-centered {
  width: 200px;
  height: 200px;
  transform: translate(-65px, -35px);
  margin: auto;
  border-radius: 50%;
  border:5px solid #ffff8b;
  overflow:hidden;
  background: #ffee58;
  box-shadow: 0 0 3px gray;
  outline: 0;
  font-size: 45px;
  font-family: "Courier New", Courier, monospace
}

.stop-button-cornered {
  align-self: flex-end;
  transform: translate(0, -50px);
	width: 100px;
	height: 100px;
  margin: 15px;
  border-radius: 50%;
  border:5px solid #ffff8b;
  background: #ffee58;
  box-shadow: 0 0 3px gray;
  outline: 0;
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
  opacity: 0.6;
}

.stop-button-cornered-in-session {
  align-self: flex-end;
  width: 100px;
  height: 100px;
  transform: translate(0, -88px);
  margin: 15px;
  border-radius: 50%;
  border:5px solid #ffff8b;
  background: #ffee58;
  box-shadow: 0 0 3px gray;
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
  opacity: 0.6;
}

.skillometer {
  margin: auto;
  align-self: center;
  transform: translate(125px, -50px);
  height: 400px;
  width: 275px;
}

.skillometer > panel-primary {
  background-color: #9162e4;
}

app-action {
  margin: auto;
  transform: translate(210px, -40px);
}

.round-button-cornered:hover {
  opacity:1;
}

.scores {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: stretch;
}

.shortcut {
  background-color: #9ACD32;
  flex: 1;
}
