div {
	height: 100%;
  width: 100%;
	background-color: #EDE7F6;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

#userinfo {
  display: none;
}

.button-cornered {
  width: 100px;
  height: 100px;
}

.start-button-centered {
	width: 200px;
	height: 200px;
  margin: auto;
  transform: translate(0, -35px);
  border-radius: 50%;
	border:5px solid #ffff8b;
  overflow:hidden;
  background: #ffee58;
  box-shadow: 0 0 3px gray;
  outline: 0;
  font-size: 45px;
  font-family: "Courier New", Courier, monospace
}

.next-button-centered {
  width: 200px;
  height: 200px;
  margin: auto;
  transform: translate(-65px, -35px);
  border-radius: 50%;
  border:5px solid #ffff8b;
  overflow:hidden;
  background: #ffee58;
  box-shadow: 0 0 3px gray;
  outline: 0;
  font-size: 45px;
  font-family: "Courier New", Courier, monospace
}

.stop-button-cornered {
  align-self: flex-end;
	width: 100px;
	height: 100px;
  margin: 15px;
  transform: translate(0, -50%);
  border-radius: 50%;
  border:5px solid #ffff8b;
  overflow:hidden;
  background: #ffee58;
  box-shadow: 0 0 3px gray;
  outline: 0;
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
  opacity: 0.6;
}

.stop-button-cornered-in-session {
  align-self: flex-end;
  width: 100px;
  height: 100px;
  margin: 15px;
  transform: translate(0, -88%);
  border-radius: 50%;
  border:5px solid #ffff8b;
  overflow:hidden;
  background: #ffee58;
  box-shadow: 0 0 3px gray;
  outline: 0;
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
  opacity: 0.6;
}

app-action {
  transform: translate(-65px, -8%);
  margin: auto;
}

.round-button-cornered:hover {
  opacity:1;
}

.modal {
  transform: translate(0, 100px);
  text-align: left;
  text-align: justify;
  text-justify: inter-word;
  text-decoration-color: #fff;
}

.btn-custom {
  border-radius: 5;
  background-color: #1e0560;
  border-color: #1e0560;
}
.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active,
.btn-custom.active {
  background-color: #160448;
  border-color: #0f0230;
}
.btn-custom.disabled:hover,
.btn-custom.disabled:focus,
.btn-custom.disabled:active,
.btn-custom.disabled.active,
.btn-custom[disabled]:hover,
.btn-custom[disabled]:focus,
.btn-custom[disabled]:active,
.btn-custom[disabled].active,
fieldset[disabled] .btn-custom:hover,
fieldset[disabled] .btn-custom:focus,
fieldset[disabled] .btn-custom:active,
fieldset[disabled] .btn-custom.active {
  background-color: #1e0560;
  border-color: #1e0560;
}
