.center-display {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-content: center;
	justify-content: space-around;
}

.centeredimage {
	margin: auto;
	transform: translate(0, -20px);
	width: 350px;
	height: 350px;
}

.bottomdisplay {
	margin: auto;
	transform: translate(0, 25px);
	width: 250px;
	height: 50px;
    border-radius: 10px;
	border:5px solid #ffff8b;  
    background: #ffee58; 
    box-shadow: 0 0 3px gray;
    outline: 0;
    font-size: 15px;
    text-align: center;
    line-height: 275%;
    font-family: "Courier New", Courier, monospace;
    opacity:0.6;
}

.bottomdisplay:hover {
	opacity:1;
}