<div class="btn-group" *ngFor="let menu of menus">
  <div class="dropdown">
    <button class="btn btn-default dropdown-toggle"
      type="button" data-toggle="dropdown">
      {{menu.name}}
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <li *ngFor="let action of menu.actions">
        <a class="action" (click)="onClick(action)">
          {{action.label}}
        </a>
      </li>
    </ul>
  </div>
</div>
<app-action></app-action>
